---
layout: base
permalink: /
---
<main>
    <section class="home-intro">
        <div class="wrapper">
            <p class="tagline">Share. Reuse. Innovate. Learn. <em>Have fun.</em></p>
            <header>
                <a href="{{ site.baseurl }}"><img src="{{ "/assets/logo.svg" | relative_url }}" alt="OpenSourceCornell"></a>
            </header>

            <section class="home-intro-body">
                <p>
                    OpenSourceCornell is an organization for anyone in the
                    Ithaca area interested in Free and Open Source
                    software. We have weekly meetings, talks, and Linux
                    Installfests every semester.
                </p>

                <nav>
                    <ul>
                        <li><a href="#events">Events</a></li>
                        <li><a href="#news">News</a></li>
                        <li><a href="#links">Projects</a></li>
                    </ul>
                </nav>
            </section>
        </div>
    </section>

    <section class="who-are-we" aria-labeledby="who-are-we">
        <div class="wrapper">
            <h2 id="who-are-we">Who Are We?</h2>

            <p>
                We are a club of Cornell undergraduate and graduate
                students with an interest in learning about, using, and
                promoting free and open source software. Started in the
                spring of 2011, we've
            </p>
            <ul>
                <li>
                    held Linux Installfests to help people start using
                    GNU/Linux,
                </li>
                <li>
                    volunteered at open source workshops to show people
                    how they can contribute,
                </li>
                <li>
                    hosted Richard Stallman, Howard Hinnant, Red Hat, and
                    others to give talks and share their viewpoints,
                </li>
                <li>
                    run DevJams for people in the community to get
                    together and hack on projects,
                </li>
                <li>
                    held weekly meetings for anyone to discuss free
                    software, free culture, or anything related,
                </li>
                <li>
                    and more!
                </li>
            </ul>
            <p>
                We welcome anybody, regardless of major, background, or
                identity, who is interested in learning more about free
                and open source software and how they can use or
                contribute to it.
            </p>

            <h3>What is Free and Open Source Software?</h3>

            <blockquote>
                <p>
                    Specifically, free software means users have the
                    four essential freedoms: (0) to run the program,
                    (1) to study and change the program in source code
                    form, (2) to redistribute exact copies, and (3) to
                    distribute modified versions.
                </p>
                <footer>
                    <cite>
                        &mdash;
                        <a href="https://www.gnu.org/philosophy/philosophy.html">
                            Philosophy of the GNU Project
                        </a>
                    </cite>
                </footer>
            </blockquote>

            <p>
                OpenSourceCornell promotes free software: software
                which you are able to run, study, modify, and
                redistribute as you wish. Free software means you
                should always be able to modify your video games, to
                know if your web browser is sending your browsing
                habits somewhere, to improve a tool and then let other
                people use it. If you want to learn more,
                <a href="#events">join us at an upcoming event</a>.
            </p>
        </div>
    </section>

    <div class="flex-wrapper">
        <section class="events" aria-labeledby="events">
            <div class="wrapper">
                <h2 id="events">Events</h2>
                <ul>
                    {% assign events = site.events | sort: 'date' | reverse %}
                    {% for post in events limit: 2 %}
                    <li class="h-event">
                        <a class="p-name u-url" href="{{ post.url | absolute_url }}">{{ post.title | escape }}</a>
                        <p>
                            <time class="dt-start" datetime="{{ post.start_time | date_to_xmlschema }}">
                                {{ post.start_time | date: "%B %-d, %Y %l:%M %p %Z" }}
                            </time>
                            to
                            <time class="dt-end" datetime="{{ post.end_time | date_to_xmlschema }}">
                                {{ post.end_time | date: "%l:%M %p %Z" }}
                            </time>
                        </p>
                        <p><span class="p-location">{{ post.location }}</span></p>
                    </li>
                    {% endfor %}
                </ul>
                <a href="{{ '/events' | relative_url }}">All Events &gt;</a>
                <a href="{{ '/events/calendar.ics' | relative_url }}">(iCalendar)</a>
            </div>
        </section>
        <section class="links" aria-labeledby="links">
            <div class="wrapper">
                <h2 id="links">Projects &amp; Links</h2>
                <ul>
                    <li>
                        <a href="https://github.com/CornellCSWiki/CornellCSWiki">
                            Cornell CS Wiki</a>

                        <p>
                            We help maintain this community resource,
                            adding new content and reviewing contributions
                            from the CS community at Cornell.
                        </p>
                    </li>
                    <li>
                        <a href="https://github.com/OpenSourceCornell/awesome-cornell">
                            Awesome Cornell</a>

                        <p>
                            A spotlight of cool projects, from members
                            of the Cornell community. Open a pull
                            request to get your work featured!
                        </p>
                    </li>
                    <li>
                        <a href="https://github.com/OpenSourceCornell">
                            github.com/OpenSourceCornell</a>

                        <p>
                            See our projects on Github. Feel free to open
                            issues or pull requests!
                        </p>
                    </li>
                    <li>
                        <a href="https://kiwiirc.com/client/irc.freenode.net/#opensourcecornell">
                            #opensourcecornell @ Freenode</a>

                        <p>
                            Join our IRC channel to chat with other
                            members.
                        </p>
                    </li>
                    <li>
                        <a href="https://facebook.com/OpenSourceCornell">
                            facebook.com/OpenSourceCornell</a>

                        <p>
                            Follow us on Facebook to keep up with
                            events. You can also join our
                            <a href="https://www.facebook.com/groups/opensourcecornell">Facebook group</a>
                            if you'd like a discussion area.
                        </p>
                    </li>
                </ul>
            </div>
        </section>
    </div>

    <section class="news" aria-labeledby="news">
        <div class="wrapper">
            <h2 id="news">News</h2>
            <ul>
                {% for post in site.posts limit: 5 %}
                <li class="h-entry">
                    <h3 class="p-name">
                        <a href="{{ post.url | absolute_url }}" class="u-url">
                            {{ post.title | escape }}
                        </a>
                    </h3>
                    <time class="dt-published" datetime="{{ post.date | date_to_xmlschema }}">
                        {{ post.date | date: "%B %-d, %Y" }}
                    </time>
                    {% if post.author %}
                    • <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                        {% if post.author_url %}
                        <span>
                            <a href="{{ post.author_url }}" rel="author" itemprop="name" class="p-author h-card">{{ post.author }}</a>
                        </span>
                        {% else %}
                        <span itemprop="name" class="p-author">
                            {{ post.author }}
                        </span>
                        {% endif %}
                    </span>
                    {% endif %}


                    {{ post.excerpt }}
                </li>
                {% endfor %}
            </ul>

            <a href="{{ '/news' | relative_url }}">All News &gt;</a>
        </div>
    </section>
</main>
