---
---

@charset "utf-8";

/*******************************************************************************
* BASIC CONSTANTS
*
* Typography: http://practicaltypography.com/
* Colors: https://brand.cornell.edu/web_color.php
*******************************************************************************/

$base-font-family: Overpass, Helvetica, sans-serif;
$base-line-height: 1.2;

$content-width: 60em;

$accent-color: #f6ba2b;
$muted-color: #222222;
$muted-foreground-color: #FFF;

$mobile: "screen and (max-width: 767px)";
$desktop: "screen and (min-width: 768px)";

/*******************************************************************************
* GENERAL STYLES
*******************************************************************************/

body {
    width: 100%;
    height: 100%;
    margin: 0;

    background-color: #FBFBFB;
    color: $muted-color;

    font-family: $base-font-family;
}

.wrapper, .flex-wrapper {
    max-width: $content-width;

    margin-left: auto;
    margin-right: auto;
}

.wrapper {
    padding: 1rem 0.5rem;
}

.flex-wrapper {
    display: flex;
    flex-flow: row wrap;

    @media #{$desktop} {
        > section:first-child > .wrapper {
            padding-left: 0;
        }

        > section:last-child > .wrapper {
            padding-right: 0;
        }
    }
}

h1, h2, h3, h4, h5, h6 {
    a:link, a:visited, a:active {
        color: inherit;

        text-decoration: none;
    }

    a:hover {
        color: inherit;

        text-decoration: underline;
    }
}

a:link, a:active {
    color: darken($accent-color, 35%);
}

a:visited {
    color: darken($accent-color, 50%);
}

a:hover {
    color: $accent-color;
}

/* CSS lock: https://fvsch.com/code/css-locks */

@media screen and (min-width: 1024px) and (max-width: 1920px) {
    body {
        font-size: calc(16px + 4 * (100vw - 1024px) / (1920 - 1024));
    }
}


/*******************************************************************************
* HEADER
*******************************************************************************/

$header-height: 2.5rem;

body > header {
    padding: 0.5rem;

    background-color: $accent-color;

    a:link, a:visited, a:active {
        color: #000;

        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    a, img {
        display: block;
        height: $header-height;
    }

    #site-title {
        flex: 1 0 15rem;
    }

    .flex-wrapper {
        justify-content: space-between;
    }

    nav {
        flex: 1 0 15rem;
        max-width: 30rem;

        ul {
            display: flex;
            justify-content: center;
            margin: 0;
            padding: 0;

            list-style-type: none;

            li {
                flex: 1 0 5rem;

                line-height: $header-height;
                text-align: center;
            }
        }
    }
}

/*******************************************************************************
* CONTENT
*******************************************************************************/

section {
    h2 {
        width: 100%;

        border-bottom: 1px solid #000;

        text-align: right;
    }
}

/*******************************************************************************
* HOME PAGE
*******************************************************************************/

.home-intro {
    background: no-repeat bottom left url(penguin.svg),
       repeat-x linear-gradient(to bottom, $accent-color, #FFF);
    padding: 1rem 0;

    text-align: center;

    a:link, a:visited, a:active {
        color: #000;

        text-decoration: none;
    }

    a:hover {
        text-decoration: underline;
    }

    .tagline {
        margin: 0;

        text-transform: lowercase;
    }

    header {
        a, img {
            display: block;
            margin: 0 auto;

            width: 90vw;
            max-width: 80vh;
        }
    }

    nav {
        ul {
            display: flex;
            margin: 0;
            padding: 0;

            list-style-type: none;
        }

        li {
            display: inline-block;
            flex: 1 0 5rem;

            font-weight: bold;

            a {
                &:after {
                    content: "»";
                }
            }
        }
    }

    @media #{$mobile} {
        background-size: 70vh;
        height: 80vh;
    }

    @media #{$mobile} and (orientation:landscape), #{$desktop} {
        background: no-repeat 0% 25%/100vw url(penguin.svg),
        repeat-x linear-gradient(to bottom, $accent-color, #FFF);
        height: 60vh;

        .home-intro-body {
            margin-left: 30vw;
        }
    }

    @media #{$desktop} {
        font-size: 1.5rem;
    }
}

.who-are-we {
    background: $muted-color;
    color: $muted-foreground-color;

    h2 {
        color: $accent-color;
        border-bottom-color: $muted-foreground-color;
    }
}

.events, .links {
    flex: 1 0 20rem;

    h3 {
        a {
            text-decoration: underline;
        }
    }
}

/*******************************************************************************
* FOOTER
*******************************************************************************/

body > footer {
    padding: 2rem 0.5rem;

    background-color: $muted-color;
    color: #FDFDFD;

    a:link, a:visited, a:active {
        color: #FDFDFD;
    }

    .footer-column {
        flex: 1 0 15rem;
    }
}
