<!doctype html>
<html lang="{{ page.lang | default: site.lang | default: 'en'}}">
<head>
    <meta charset="utf-8">
    <title>{% if page.title %}{{ page.title | escape }}: {% else %}{% endif %}{{ site.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="{{ "/assets/main.css" | relative_url }}">
    <link rel="alternate" type="application/rss+xml" title="{{ site.title | escape }}" href="{{ "/feed.xml" | relative_url }}">
</head>

<body>
    <header>
        <div class="wrapper">
            <h1><a href="">{{ site.title }}</a></h1>

            <nav>
                <ul>
                    <li><a href="#">About</a></li>
                </ul>
            </nav>
        </div>
    </header>

    <main>
        {{ content | indent: 8 }}
    </main>

    <footer class="h-card">
        <div class="wrapper">
            <section class="footer-column about">
                <span class="p-name">OpenSourceCornell</span>
                <p>
                    OpenSourceCornell is an organization for anyone in
                    the Ithaca area interested in Free and Open Source
                    software. We have weekly meetings, talks, and
                    Linux Installfests every semester.
                </p>
            </section>
            <section class="footer-column links">
                <ul>
                    <li><a class="u-url" href="{{ site.url }}{{ site.baseurl }}">{{ site.url }}{{ site.baseurl }}</a></li>
                    <li><a href="https://github.com/OpenSourceCornell">github.com/OpenSourceCornell</a></li>
                </ul>
            </section>
            <section class="footer-column copyright">
                <p>Copyright &copy; 2017 OpenSourceCornell</p>
            </section>
        </div>
    </footer>
</body>
</html>
