---
layout: base
---

<header>
    <div class="flex-wrapper">
        <a id="site-title" href="{{ site.baseurl | absolute_url }}">
            <img src="{{ "/assets/logo.svg" | relative_url }}" alt="OpenSourceCornell">
        </a>

        <nav>
            <ul>
                <li><a href="{{ '/events' | relative_url }}">Events</a></li>
                <li><a href="{{ '/#news' | relative_url }}">News</a></li>
                <li><a href="{{ '/#links' | relative_url }}">Projects</a></li>
            </ul>
        </nav>
    </div>
</header>

<main>
    {{ content | indent: 4 }}
</main>
